PIKKO_APP_ENV = development
APS_ENVIRONMENT = development
PIKKO_BASE_URL = REPLACE_WITH_PIKKO_BASE_URL
PIKKO_SESAC_KEY = REPLACE_WITH_SESAC_KEY
KAKAO_NATIVE_APP_KEY = REPLACE_WITH_KAKAO_NATIVE_APP_KEY
GOOGLE_IOS_CLIENT_ID = REPLACE_WITH_GOOGLE_IOS_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID = REPLACE_WITH_GOOGLE_REVERSED_CLIENT_ID
PIKKO_INTERNAL_STUB_AUTH_ENABLED = NO

#include? "Secrets.xcconfig"
