<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pikko.ios.kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pikko.ios.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pikko.ios.portone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PORTONE_APP_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>GOOGLE_IOS_CLIENT_ID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>GoogleIOSClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>GoogleReversedClientID</key>
	<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>KakaoNativeAppKey</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ansimclickipcollect</string>
		<string>ansimclickscard</string>
		<string>chaipayment</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>citispay</string>
		<string>cloudpay</string>
		<string>com.wooricard.wcard</string>
		<string>hdcardappcardansimclick</string>
		<string>hyundaicardappcardid</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>kakao</string>
		<string>kakaobank</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk</string>
		<string>kb-acp</string>
		<string>kb-auth</string>
		<string>kb-screen</string>
		<string>kbbank</string>
		<string>kftc-bankpay</string>
		<string>lguthepay-xpay</string>
		<string>liivbank</string>
		<string>lmslpay</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>mpocket.online.ansimclick</string>
		<string>newliiv</string>
		<string>newsmartpib</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>payco</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>smshinhanansimclick</string>
		<string>supertoss</string>
		<string>vguardstart</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>pickup.sesac.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치 주변의 픽업 가능한 매장을 보여주기 위해 위치 정보를 사용합니다.</string>
	<key>PIKKOBaseURL</key>
	<string>$(PIKKO_BASE_URL)</string>
	<key>PIKKOSeSACKey</key>
	<string>$(PIKKO_SESAC_KEY)</string>
	<key>PIKKO_APP_ENV</key>
	<string>$(PIKKO_APP_ENV)</string>
	<key>PIKKO_BASE_URL</key>
	<string>$(PIKKO_BASE_URL)</string>
	<key>PIKKO_INTERNAL_STUB_AUTH_ENABLED</key>
	<string>$(PIKKO_INTERNAL_STUB_AUTH_ENABLED)</string>
	<key>PIKKO_CHAT_SOCKET_DEBUG_ENABLED</key>
	<string>$(PIKKO_CHAT_SOCKET_DEBUG_ENABLED)</string>
	<key>PIKKO_SESAC_KEY</key>
	<string>$(PIKKO_SESAC_KEY)</string>
	<key>PORTONE_APP_SCHEME</key>
	<string>$(PORTONE_APP_SCHEME)</string>
	<key>PORTONE_PAY_METHOD</key>
	<string>$(PORTONE_PAY_METHOD)</string>
	<key>PORTONE_PG</key>
	<string>$(PORTONE_PG)</string>
	<key>PORTONE_PG_ID</key>
	<string>$(PORTONE_PG_ID)</string>
	<key>PORTONE_USER_CODE</key>
	<string>$(PORTONE_USER_CODE)</string>
	<key>PAYMENT_TEST_MODE</key>
	<string>$(PAYMENT_TEST_MODE)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
