#include? "Secrets.xcconfig"
#include? "AuthSecrets.xcconfig"
#include? "LocalSecrets.xcconfig"

PIKKO_APP_ENV = development
APS_ENVIRONMENT = development
PIKKO_BASE_URL = http://127.0.0.1
PIKKO_SESAC_KEY = UNIT_TEST_STUB
KAKAO_NATIVE_APP_KEY = UNIT_TEST_KAKAO_APP_KEY
GOOGLE_IOS_CLIENT_ID = UNIT_TEST_GOOGLE_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID = UNIT_TEST_GOOGLE_REVERSED_CLIENT_ID
PIKKO_INTERNAL_STUB_AUTH_ENABLED = NO
PIKKO_CHAT_SOCKET_DEBUG_ENABLED = NO
PORTONE_USER_CODE = imp12345678
PORTONE_PG = html5_inicis
PORTONE_PG_ID = INIpayTest
PORTONE_PAY_METHOD = card
PORTONE_APP_SCHEME = pikko
PAYMENT_TEST_MODE = YES
